n8n workflows/Damascus Unvierstiy Guide For NeverMiss AI.json
{
  "name": "DU Guide",
  "nodes": [
    {
      "parameters": {
        "content": "## DU AI Agent with Chat Interface",
        "height": 689,
        "width": 1164
      },
      "id": "7cbd1749-0cf0-4075-8fc3-e202aa922c8d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1152,
        848
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "university_Guide",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "d6c8302f-2060-4485-95f9-5fe79060d546",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2304,
        1120
      ],
      "webhookId": "bf4dd093-bb02-472c-9454-7ab9af97bd1d",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mX6QZwkWwj6aFESP",
          "name": "n8n api key"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -848,
        1152
      ],
      "id": "370e66cf-b6ac-426b-a227-73842d7cff5d",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ZBVESd8Dq9NE8tHX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set Variables Fields1').item.json.body.messageType }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4b15d26a-32b6-4f2b-9a17-080797491078"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1e8c950a-5c74-4f9c-bd12-338f54a55f83",
                    "leftValue": "={{ $('Set Variables Fields1').item.json.body.messageType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -304,
        992
      ],
      "id": "cfc510a1-e6fe-4a9e-83b6-9caca488140d",
      "name": "Switch1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "19e1cd89-49d4-439e-a0b4-6f3f28c7dcf1",
              "leftValue": "={{ $json.lang }}",
              "rightValue": "arabic",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        912
      ],
      "id": "7df7d5f2-5fb4-4266-add7-b860a74c364c",
      "name": "check Langauge"
    },
    {
      "parameters": {
        "tableId": "chat_messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('Webhook').item.json.body.sessionId }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Webhook').item.json.body.user_id }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "ai"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Switch1').item.json.output.output }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $('Webhook').item.json.body.messageType }}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $('Webhook').item.json.body.aiTimestamp }}"
            },
            {
              "fieldId": "webhook_url",
              "fieldValue": "https://n8n.zentraid.com/webhook/university_Guide"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -160,
        1232
      ],
      "id": "cef25016-c226-4fa1-9126-14b1e03e9eb7",
      "name": "Push message",
      "credentials": {
        "supabaseApi": {
          "id": "1ZWOta44d2g92iST",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "330d464f-fc05-414b-98cd-eebaad733fcd",
              "name": "output",
              "value": "={{ $json.output.output }}",
              "type": "string"
            },
            {
              "id": "3fd4d0d7-63cf-40fe-af0e-d6f101eefcae",
              "name": "lang",
              "value": "={{ $json.output.lang }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        912
      ],
      "id": "91745cb6-54cd-42ed-801e-d4e7d0b5b97e",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"output\": \"full clean beautiful Markdown output\",\n\t\"lang\": \"Arabic or English.\"\n}\n",
        "autoFix": true,
        "customizeRetryPrompt": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -496,
        1136
      ],
      "id": "4851c51b-df13-47f3-a7a8-640101f606ff",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -448,
        1328
      ],
      "id": "82fda28a-f57d-44a4-82a4-40bb3d81ebef",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ZBVESd8Dq9NE8tHX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1680,
        944
      ],
      "id": "0503bbce-fea0-42dd-ab3e-b8ee038d03e9",
      "name": "Transcribe a recording",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "googlePalmApi": {
          "id": "BlHtiekwDaAgAOtB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4720eba-d16c-4619-a98b-46eedf1535b8",
              "name": "body.sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "886618c9-2bbf-433f-a0d3-915353e2808f",
              "name": "body.action",
              "value": "={{ $json.body.action }}",
              "type": "string"
            },
            {
              "id": "bb54e29e-4dfc-4282-adcc-02e5ba1b3657",
              "name": "body.chatInput",
              "value": "={{ $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "867ffba7-cf7e-4f8f-bb07-c36df444b7bb",
              "name": "body.accessToken",
              "value": "={{ $json.body.accessToken }}",
              "type": "string"
            },
            {
              "id": "e929478e-abe7-4305-b966-7e349ea927df",
              "name": "body.refreshToken",
              "value": "={{ $json.body.refreshToken }}",
              "type": "string"
            },
            {
              "id": "e6d9e219-d54a-42ea-a431-df776cd2921a",
              "name": "body.messageType",
              "value": "={{ $json.body.messageType }}",
              "type": "string"
            },
            {
              "id": "788c1e26-c9dd-492d-9d9f-7b64aee6dc4c",
              "name": "body.userId",
              "value": "={{ $json.body.userId }}",
              "type": "string"
            },
            {
              "id": "2dd3c37d-a010-4398-9887-2b65c8e4936a",
              "name": "body.userEmail",
              "value": "={{ $json.body.userEmail }}",
              "type": "string"
            },
            {
              "id": "ec9e290b-99fb-4a08-a2df-579e6494123c",
              "name": "body.user_name",
              "value": "={{ $json.body.user_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1376,
        1152
      ],
      "id": "ae3d5cdb-9037-4b37-bc00-ece69a7a7d49",
      "name": "Set Variables Fields"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.audioFile",
        "options": {
          "fileName": "record",
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1920,
        944
      ],
      "id": "611a92ad-e671-4c53-ae13-a0dae7717b71",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2748740-97c9-4cab-b532-caca940509f0",
              "name": "text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "1d8b4e59-bbc2-4049-9bd8-3f2101ba49e4",
              "name": "body.messageType",
              "value": "={{ $('Webhook').item.json.body.messageType }}",
              "type": "string"
            },
            {
              "id": "a8b8d9b8-0b93-472c-bef2-2408aa207e86",
              "name": "body.accessToken",
              "value": "={{ $('Webhook').item.json.body.accessToken }}",
              "type": "string"
            },
            {
              "id": "517bce7c-cd90-49b3-9ca7-2daa6d2dbb3e",
              "name": "body.refreshToken",
              "value": "={{ $('Webhook').item.json.body.refreshToken }}",
              "type": "string"
            },
            {
              "id": "ba010d23-b685-45ac-a8f7-2ac7eeac8922",
              "name": "body.sessionId",
              "value": "={{ $('Webhook').item.json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "14cf415a-7228-4dec-a7f1-fb06e4accfb9",
              "name": "body.action",
              "value": "={{ $('Webhook').item.json.body.action }}",
              "type": "string"
            },
            {
              "id": "94aa1f68-dfd2-4089-be9c-9168395c2c81",
              "name": "body.userId",
              "value": "={{ $('Webhook').item.json.body.userId }}",
              "type": "string"
            },
            {
              "id": "d25e9044-4e13-468f-bf7f-05601c915438",
              "name": "body.userEmail",
              "value": "={{ $('Webhook').item.json.body.userEmail }}",
              "type": "string"
            },
            {
              "id": "cc79e6e5-4751-4379-a437-ec4ef21c958e",
              "name": "body.userName",
              "value": "={{ $('Webhook').item.json.body.userName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1376,
        944
      ],
      "id": "a3daaa06-5da2-4ebe-af37-ae338952ace1",
      "name": "audiotext"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d21bbb70-160a-4710-9474-ad8cb8184b37",
              "name": "AccessToken",
              "value": "=Bearer {{ $json.body.accessToken }}",
              "type": "string"
            },
            {
              "id": "59be0660-7209-4162-809e-beeaa4fe2f06",
              "name": "refreshToken",
              "value": "={{ $json.body.refreshToken }}",
              "type": "string"
            },
            {
              "id": "2f5e1ed1-8623-4335-859d-8d2c6ad52e00",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "cb0a02f7-4b3d-4f1b-ba27-67a25e96da51",
              "name": "action",
              "value": "={{ $json.body.action }}",
              "type": "string"
            },
            {
              "id": "44296037-8630-4cfd-9883-e0d0c899b36a",
              "name": "chatInput",
              "value": "={{ $json.body.chatInput || $json.text}}",
              "type": "string"
            },
            {
              "id": "f357e49d-a21b-42b1-a98a-a9baecb0c9eb",
              "name": "body.messageType",
              "value": "={{ $json.body.messageType }}",
              "type": "string"
            },
            {
              "id": "db1766bb-ec24-48fe-af83-974381f6f4a9",
              "name": "body.userId",
              "value": "={{ $json.body.userId }}",
              "type": "string"
            },
            {
              "id": "06099f9c-4c5c-44c1-89fb-4193c6fee58b",
              "name": "body.userEmail",
              "value": "={{ $json.body.userEmail }}",
              "type": "string"
            },
            {
              "id": "3398205f-67df-4426-a2b7-21152e55a9f4",
              "name": "body.userName",
              "value": "={{ $json.body.userName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1024,
        944
      ],
      "id": "d799458a-ada3-4442-95b2-b9edd9cd3704",
      "name": "Set Variables Fields1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.messageType }}",
                    "rightValue": "=audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "366fd097-72f7-4868-9cfc-f395f18abae2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "696eba18-4aeb-4f61-a50f-65736b07e96a",
                    "leftValue": "={{ $json.body.chatInput }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXT"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2080,
        1136
      ],
      "id": "159b120d-1c14-48cd-8834-61ce8e272930",
      "name": "Switch2"
    },
    {
      "parameters": {
        "content": "## Audio Message\n",
        "height": 240,
        "width": 720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1968,
        864
      ],
      "typeVersion": 1,
      "id": "fae7c3ab-ac89-4a7d-9deb-b4202652953f",
      "name": "Sticky Note9"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -592,
        1168
      ],
      "id": "847a8fdb-655b-4435-9d30-f5f477f55aac",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# **🎓 DU-Guide: Complete Damascus University ITE Assistant**\n\n---\n\n## **AI Identity & Purpose**\n\nYou are **\"DU-Guide NeverMissAI\"**, a comprehensive and friendly assistant for new students and visitors at Damascus University – Faculty of Information Technology Engineering (ITE). You provide:\n- **Navigation assistance** for Floor 1 of the ITE Building\n- **Academic information** about programs, admissions, and requirements\n- **Faculty resources** and facilities information\n- **General guidance** for new students\n\n**Core Rules:**\n1. **Use Only Provided Information:** Answer all questions using ONLY the information in this document.\n2. **Be Clear & Helpful:** Provide concise, accurate responses with step-by-step guidance.\n3. **No Invention:** If asked about unlisted information, politely state you don't have that data.\n4. **Be Welcoming:** Remember you're helping new students navigate both physically and academically.\n\n---\n\n# **PART 1: ABOUT THE FACULTY**\n\n## **📚 Faculty Overview**\n\n### **Establishment & History**\nThe Faculty of Information Technology Engineering (FITE) is one of the newest faculties at Damascus University, established in 1994. It was founded in 1999 and contains departments of software engineering and information systems, operating systems and networks, and artificial intelligence.\n\n### **Location**\nThe faculty is located at **HAMAK Complex, Damascus International Airport Motorway, Damascus, Syria**.\n\n### **Mission and Objectives**\nThe IT faculty aims to prepare specialists in computer engineering, especially in software engineering, information systems, computer networks and artificial intelligence, through providing them a high level of knowledge in their field of specialization. The faculty prepares students to be ready for the development of IT field both locally and globally and advances scientific research while participating in contributing to scientific and technical progress in the fields of computer engineering.\n\n---\n\n## **🎯 Academic Programs**\n\n### **Degree Levels Offered**\nThe University of Damascus, at the proposal of the Faculty of Information Technology Engineering, awards:\n- **Bachelor's Degree**\n- **Master's Degree**\n- **Doctoral Degree**\n\n### **Major Specializations**\n\nThe faculty offers three main majors:\n1. **Artificial Intelligence and Natural Language Processing**\n2. **Software Engineering and Information Systems**\n3. **Computer Systems and Networks**\n\n### **Study Duration**\n- **Bachelor's Degree:** Successfully completing **5 years of study** (ten semesters)\n- **Master's Degree:** An extra **four semesters** after Bachelor's\n\n---\n\n## **📖 Curriculum Structure**\n\n### **First Three Years (Before Choosing a Major)**\n\n**First Year Courses Include:**\n- Programming I\n- Working Principles of the Computer\n- Physics\n- Algebra\n- Calculus I\n- English Language I\n- Arabic Language\n- National Culture\n\n**Important Note:** All the subjects are obligatory to be studied.\n\n---\n\n## **📝 Admission Requirements**\n\n### **For Bachelor's Degree**\n- Having a **scientific baccalaureate by 2255 out of 2400 degree at least**\n- Applying to the system of the university's acceptance\n\n### **Admission Selectivity**\nDamascus University has a selective admission policy based on students' past academic records and grades. Damascus University's acceptance rate ranges from **60 to 69%**, making it a moderately selective higher education institution.\n\n### **Required Skills**\nStudents should possess:\n- The ability to concentrate and work under pressure\n- Analytical skills\n- Statistical analysis skill\n\n---\n\n## **🔬 Facilities and Resources**\n\n### **Computer Labs**\n- **600 PCs** in **26 computer labs**\n\n### **Specialized Labs and Clubs**\n- **ACM CLUB**\n- **ROBOTIC LAB** and some advanced research labs\n\n### **University Library**\nThe University of Damascus Library began in 1903 (with the establishment of the Medical Bureau). As of 2011 it contains some **169,000 volumes** and **3,830 current periodicals**.\n\n---\n\n## **🎓 Student Services**\n\nDamascus University provides several academic and non-academic facilities and services to students including:\n- A library\n- Study abroad and exchange programs\n- Administrative services\n\n---\n\n## **💼 Career Opportunities**\n\n### **Professional Fields**\n- Research laboratories\n- High-tech manufacturing firms\n- Designing, developing, and testing computer systems\n\n---\n\n## **🔬 Research and Academic Activities**\n\n### **National Conference**\nThe faculty of Information Technology Engineering (ITE) - Damascus University organizes and hosts national postgraduate student conferences. **National Conference on Informatics Engineering (NCIE)** is the first national conference for ITE postgraduate students who are welcome to submit their research papers under any topic related to Information Technology Engineering.\n\n---\n\n## **📅 Important Academic Information**\n\n### **Academic Calendar**\nDamascus University adopts a **semesters academic calendar**, a scheduling system where the academic year is divided into two main terms, or semesters, each typically lasting about **15 to 18 weeks**, separated by a long break.\n\n### **University Size**\nDamascus University (DU) is a **very large-sized institution** (enrollment range: over-50,000 students) - a coeducational Syrian higher education institution.\n\n### **Graduate Studies**\nRegistration for graduate studies for foreign and Arab students at the University of Damascus is available for the faculties of Medicine, Architecture, Informatics, and the Regional Planning Institute.\n\n---\n\n## **📞 Contact Information**\n\n- **Website:** damascusuniversity.edu.sy/ite/\n- **Phone:** 963-11-54917808\n- **Location:** Damascus International Airport Highway, Damascus, Syria\n\n---\n\n---\n\n# **PART 2: FLOOR 1 NAVIGATION GUIDE**\n\n## **🗺️ Building Orientation & Key Layout**\n\n**Compass Directions:**\n- **Top of map = North**\n- **Bottom = South**\n- **Left = West**\n- **Right = East**\n\n**Critical Structure:**\nA **major wall runs north-to-south**, creating **two parallel corridors** that are **NOT directly connected internally**:\n\n1. **West Corridor (Left Hallway)** – Amphitheaters & Lecture Halls\n2. **East Corridor (Right Hallway)** – Net Labs & Administrative Offices\n\n⚠️ **Students cannot walk directly between corridors—must exit and re-enter through main entrances or staircases.**\n\n---\n\n## **🚪 Entrances**\n\n### **Student Entrances (West Side)**\n\n1. **Red Door Entrance (Main – Top-Left/Northwest)**\n   - Opens into **West Corridor**\n   - Leads directly to **Ceremonial Amphitheater** and **AT4/AT5**\n\n2. **Second Student Entrance (Bottom-Left/Southwest Corner)**\n   - Opens into **West Corridor**\n   - Leads to **AT1, AT2**, and **SW Stairs**\n\n### **Doctors/Staff Entrance (Top-Center/North Wall)**\n- Located on the **North wall**\n- Opens into **East Corridor**\n- Leads directly to **Headmaster's Office**, **Administration Office**, and **Net Lab 4**\n\n---\n\n## **🪜 Staircases (Connecting Floors)**\n\n### **West Corridor Stairs:**\n- **NW Stairs:** North-West corner, next to **Ceremonial Amphitheater**\n- **SW Stairs:** South-West corner, next to **Second Student Entrance** and **AT1**\n\n### **East Corridor Stairs:**\n- **SE Stairs:** South-East corner, next to **Net Lab 2** and across from **AT3** (separated by wall)\n\n⚠️ **Note:** Stairs connect floors vertically but do **NOT** connect the two hallways directly on Floor 1.\n\n---\n\n## **🎓 Amphitheaters & Lecture Halls (West Corridor)**\n\n**Listed North to South:**\n\n- **Ceremonial Amphitheater**\n  - **Location:** North-West corner (large circular room)\n  - **Adjacent to:** NW Stairs and Red Door Entrance\n  - **Purpose:** Special events and large gatherings\n\n- **AT5**\n  - **Location:** Northernmost hall in West Corridor\n  - **Position:** Across from Net Lab 4 (but separated by wall)\n\n- **AT4**\n  - **Location:** West Corridor, south of Ceremonial Amphitheater\n  - **Position:** Near Red Door Entrance\n\n- **AT2**\n  - **Location:** Middle-West Corridor, south of AT4\n  - **Position:** Across from central Yard\n\n- **AT3**\n  - **Location:** West Corridor, between AT2 (south) and central Yard\n  - **Position:** East of AT2, across from Net Lab 2 (separated by wall)\n\n- **AT1**\n  - **Location:** Bottom-left, south of AT2\n  - **Position:** Near Second Student Entrance & SW Stairs, across from Net Lab 3 (separated by wall)\n\n---\n\n## **💻 Network Laboratories (East Corridor – Right Hallway)**\n\n**Access via:**\n- Doctors/Staff Entrance (North)\n- Staircases (must exit West Corridor first)\n- Walking around the building exterior\n\n**Listed North to South:**\n\n1. **Net Lab 4**\n   - **Location:** Northernmost room in East Corridor\n   - **Adjacent to:** Doctors' Entrance, across from AT5 (separated by wall)\n\n2. **Net Lab 1**\n   - **Location:** Directly south of Net Lab 4\n   - **Adjacent to:** Administration Office area\n\n3. **Net Lab 3**\n   - **Location:** Southern section of East Corridor\n   - **Position:** East of AT1 (separated by wall), north of Net Lab 2\n\n4. **Net Lab 2**\n   - **Location:** Southernmost room in East Corridor\n   - **Adjacent to:** SE Stairs, across from AT3 (separated by wall)\n\n---\n\n## **🏢 Administrative & Faculty Offices (East Corridor – North Section)**\n\n- **Dr. Ammar Joukhadar – Headmaster and Manager of DU**\n  - **Location:** North-East corner\n  - **Adjacent to:** Doctors/Staff Entrance, near Net Lab 4\n  - **Also serves as:** Headmaster of the ITE Unit\n\n- **Administration Office**\n  - **Location:** Immediately south of Dr. Ammar Joukhadar's office\n  - **Adjacent to:** Net Lab 1 area\n\n---\n\n## **🗣️ Sample Navigation Dialogues**\n\n### **Example 1: Finding the Ceremonial Amphitheater**\n**Q:** \"How do I get from the Red Door to the Ceremonial Amphitheater?\"  \n**A:** \"Enter through the Red Door, and the Ceremonial Amphitheater is the large circular room directly to your left in the North-West corner.\"\n\n---\n\n### **Example 2: Red Door to Net Lab**\n**Q:** \"How do I get to Net Lab 2 from the Red Door?\"  \n**A:** \"From the Red Door, you have two routes:\n\n**Route 1 (via West Corridor):** Walk south down the West Corridor past the AT halls (AT4, AT2, AT1). Exit the building, turn right to enter the East Corridor. Walk north, and Net Lab 2 will be on your right next to the SE Stairs.\n\n**Route 2 (via exterior):** Exit the Red Door, walk around the building exterior to the East side, enter the East Corridor. Net Lab 2 is at the southern end next to the stairs.\"\n\n---\n\n### **Example 3: Between Corridors**\n**Q:** \"How do I get from AT3 to Net Lab 2?\"  \n**A:** \"Exit AT3 into the West Corridor, then exit the building. Walk around to the right (east) to enter the East Corridor. Net Lab 2 is near the SE Stairs on your right. Remember, there's a wall separating the hallways, so you must walk outside.\"\n\n---\n\n### **Example 4: Finding Administration**\n**Q:** \"Where is the Administration Office?\"  \n**A:** \"The Administration Office is in the **East Corridor**, near the **Doctors' Entrance (North wall)** and south of **Dr. Ammar Joukhadar's office (Headmaster)**, beside **Net Lab 1**.\"\n\n---\n\n### **Example 5: Student Entrance to Lab**\n**Q:** \"What's the fastest way from the Second Student Entrance to Net Lab 3?\"  \n**A:** \"From the Second Student Entrance (SW corner), exit the building immediately. Walk around the exterior to the East side and enter the East Corridor. Net Lab 3 is in the southern section near the SE Stairs.\"\n\n---\n\n### **Example 6: Direct Path Question**\n**Q:** \"Can I go directly from AT2 to Net Lab 2?\"  \n**A:** \"No, there's a **wall separating the West and East hallways**. You must exit AT2, walk outside the building, and enter the **East Corridor** to reach Net Lab 2 near the SE Stairs.\"\n\n---\n\n### **Example 7: Finding Leadership**\n**Q:** \"I need to meet Dr. Ammar Joukhadar. Where is his office?\"  \n**A:** \"Dr. Ammar Joukhadar is the Headmaster and Manager of DU. His office is in the **North-East corner** of the East Corridor, next to the **Doctors' Entrance**. You can access it through the Doctors/Staff Entrance on the North wall.\"\n\n---\n\n### **Example 8: Finding the Headmaster**\n**Q:** \"I'm in AT3 and need to go to the Headmaster's office.\"  \n**A:** \"From AT3, exit into the West Corridor and leave the building. Walk around to the East side and enter the East Corridor. Walk north to the top of the corridor—Dr. Ammar Joukhadar's office (Headmaster and Manager) is in the North-East corner, next to the Doctors' Entrance.\"\n\n---\n\n### **Example 9: Lab to Stairs**\n**Q:** \"How do I get to the SW stairs from Net Lab 4?\"  \n**A:** \"From Net Lab 4, exit the East Corridor to the building exterior. Walk around to the West side and enter the West Corridor through the Second Student Entrance. The SW Stairs are immediately on your left in the South-West corner.\"\n\n---\n\n## **📌 Quick Reference Summary**\n\n### **West Corridor (Left Hallway):**\n✅ **Rooms:** Ceremonial Amphitheater, AT1, AT2, AT3, AT4, AT5  \n✅ **Access:** Red Door, Second Student Entrance  \n✅ **Stairs:** NW Stairs, SW Stairs\n\n### **East Corridor (Right Hallway):**\n✅ **Labs:** Net Lab 1, Net Lab 2, Net Lab 3, Net Lab 4  \n✅ **Offices:** Dr. Ammar Joukhadar (Headmaster & Manager), Administration Office  \n✅ **Access:** Doctors/Staff Entrance  \n✅ **Stairs:** SE Stairs\n\n### **⚠️ CRITICAL NAVIGATION RULE:**\nNo direct internal path between hallways—must exit building and re-enter or use exterior walkways.\n\n---\n\n# **PART 3: QUICK START GUIDE FOR NEW STUDENTS**\n\n## **✅ Essential Checklist**\n\n### **Academic Preparation**\n- Ensure you have a scientific baccalaureate (2255/2400 minimum)\n- Prepare for concentration and analytical work\n- Review first-year subjects: Programming I, Physics, Algebra, Calculus I\n\n### **Campus Familiarization**\n- Locate the **Red Door Entrance** (main student entrance)\n- Find your assigned amphitheaters (AT1-AT5)\n- Learn the two-corridor system (West for classes, East for labs/offices)\n\n### **Resources to Access**\n- **26 Computer Labs** with 600 PCs\n- **University Library** (169,000 volumes, 3,830 periodicals)\n- **ACM CLUB** and **ROBOTIC LAB**\n\n### **Important Contacts**\n- **Dr. Ammar Joukhadar** (Headmaster & Manager) - Office in NE corner, East Corridor\n- **Administration Office** - East Corridor, near Net Labs\n- **Phone:** 963-11-54917808\n\n---\n\n## **🎯 Study Path Overview**\n\n### **Years 1-3: Foundation**\n- Complete obligatory courses\n- Build skills in programming, mathematics, physics\n- Prepare for specialization choice\n\n### **Years 4-5: Specialization**\nChoose from:\n1. Artificial Intelligence and Natural Language Processing\n2. Software Engineering and Information Systems\n3. Computer Systems and Networks\n\n### **Graduate Studies (Optional)**\n- Master's: 4 additional semesters\n- Doctoral programs available\n- Research opportunities through NCIE conferences\n\n---\n\n## **🌟 Making the Most of Your Experience**\n\n### **Academic Engagement**\n- Attend all obligatory courses (two semesters per year, 15-18 weeks each)\n- Participate in the National Conference on Informatics Engineering (NCIE)\n- Use the 26 computer labs for practice\n\n### **Skill Development**\n- Join ACM CLUB\n- Work in ROBOTIC LAB\n- Develop concentration, analytical, and statistical analysis skills\n\n### **Career Preparation**\nPrepare for opportunities in:\n- Research laboratories\n- High-tech manufacturing firms\n- Computer systems design, development, and testing\n\n---\n\n**Welcome to Damascus University's Faculty of Information Technology Engineering. Use this guide to navigate both the physical campus and your academic journey. Good luck! 🎓**\n\n---\n\n**End of Complete DU-Guide**"
        }
      },
      "id": "3dd7596a-2ad9-4e02-82ba-a749dfc041fa",
      "name": "DU AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -640,
        928
      ]
    },
    {
      "parameters": {
        "tableId": "chat_messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('Webhook').item.json.body.sessionId }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Webhook').item.json.body.user_id }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "ai"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $('Webhook').item.json.body.messageType }}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $('Webhook').item.json.body.aiTimestamp }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={   \"autoplay\": true }"
            },
            {
              "fieldId": "audio_data",
              "fieldValue": "={{ $json.data }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.data }}"
            },
            {
              "fieldId": "webhook_url",
              "fieldValue": "https://n8n.zentraid.com/webhook/university_Guide"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        848,
        800
      ],
      "id": "eee78aea-21d3-4bff-b4b6-f12c21206f3f",
      "name": "Push Arabic Audio1",
      "credentials": {
        "supabaseApi": {
          "id": "1ZWOta44d2g92iST",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "chat_messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('Webhook').item.json.body.sessionId }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Webhook').item.json.body.user_id }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "ai"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $('Webhook').item.json.body.messageType }}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $('Webhook').item.json.body.aiTimestamp }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={\"autoplay\": true }"
            },
            {
              "fieldId": "audio_data",
              "fieldValue": "={{ $json.data }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.data }}"
            },
            {
              "fieldId": "webhook_url",
              "fieldValue": "https://n8n.zentraid.com/webhook/university_Guide"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        1056
      ],
      "id": "396734ac-1a92-4246-9e47-5f715e80c559",
      "name": "Push English Audio",
      "credentials": {
        "supabaseApi": {
          "id": "1ZWOta44d2g92iST",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Voice Answer\n",
        "height": 592,
        "width": 1104,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        688
      ],
      "typeVersion": 1,
      "id": "c34802f2-aada-4159-b2e0-641a6b5ea243",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## English Language \n",
        "height": 240,
        "width": 1008,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        992
      ],
      "typeVersion": 1,
      "id": "8c5ad49f-601e-4f4f-a314-7a35aed66738",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Arabic Language  \n",
        "height": 240,
        "width": 1008,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        752
      ],
      "typeVersion": 1,
      "id": "e7b03756-09fa-4846-91ea-5b5cf54d3ba2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {
          "keepSource": "binary"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        640,
        800
      ],
      "id": "9115a48b-e6e1-44a6-a2a1-0390314f1f69",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "4wf10lgibMnboGJGCLrP",
          "mode": "list",
          "cachedResultName": "Farah - Premium Arabic Female Voice"
        },
        "text": "={{ $json.output }}",
        "additionalOptions": {
          "languageCode": "ar"
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        416,
        800
      ],
      "id": "bb391ac4-08fa-4e71-9ca7-3e20076f5cbf",
      "name": "Convert text to speech1",
      "credentials": {
        "elevenLabsApi": {
          "id": "grshADalTVxduHx1",
          "name": "ElevenLabs account new"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {
          "keepSource": "binary"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        624,
        1056
      ],
      "id": "2a7010a8-c382-40e0-9aeb-893470a1c1ea",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "bMxLr8fP6hzNRRi9nJxU",
          "mode": "list",
          "cachedResultName": "Ivanna - Cute Candid Girl"
        },
        "text": "={{ $json.output }}",
        "additionalOptions": {
          "languageCode": "en"
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        400,
        1056
      ],
      "id": "152b265c-5c2f-4a06-acf7-f12ef6d9b17d",
      "name": "Convert text to speech",
      "credentials": {
        "elevenLabsApi": {
          "id": "grshADalTVxduHx1",
          "name": "ElevenLabs account new"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "DU AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Push message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check Langauge": {
      "main": [
        [
          {
            "node": "Convert text to speech1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "check Langauge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "DU AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "audiotext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables Fields": {
      "main": [
        [
          {
            "node": "Set Variables Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audiotext": {
      "main": [
        [
          {
            "node": "Set Variables Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables Fields1": {
      "main": [
        [
          {
            "node": "DU AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Variables Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "DU AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "DU AI Agent": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Push Arabic Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Push English Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0c568097-fdb3-4bce-a7d3-6a458b779f3d",
  "meta": {
    "instanceId": "d45da9d98fbd7020dc3e1893ba6f6d0857c888b5cb34ec3bf06290d26111560d"
  },
  "id": "cUNUElvHK6lEd4S3",
  "tags": []
}