n8n workflows/RAG AI Agent For NeverMiss AI.json
{
  "name": "RAG AI Agent For NeverMiss AI",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "b7dbd88b-ab79-44ff-a859-45fae2469e5c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1376,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "2E4la5AHMF1hdLEO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content || $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID').first().json.file_title }}"
              },
              {
                "name": "user_id",
                "value": "={{ $('Set File ID').first().json.user_id }}"
              }
            ]
          }
        }
      },
      "id": "54c8ce33-cfe8-4e56-bd8d-2829a75d2785",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2576,
        896
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "b01801a1-6686-4dd9-aa60-b6b5c05586a0",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        2192,
        1008
      ],
      "credentials": {
        "openAiApi": {
          "id": "2E4la5AHMF1hdLEO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agent Tools for RAG",
        "height": 528.85546469693,
        "width": 583.4552380860637,
        "color": 4
      },
      "id": "c6c0d6ac-7e86-42af-bf1f-3d426ed49bf6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        -160
      ]
    },
    {
      "parameters": {
        "content": "## Tool to Add a Google Drive File to Vector DB",
        "height": 867,
        "width": 5569,
        "color": 5
      },
      "id": "7d516ef9-d6b5-4e3a-8772-ee62dde173f0",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2496,
        384
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "5bdc99ae-7fd2-43e1-bed1-8881aad14960",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        960,
        960
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9X2xSyHCv8sMei1N",
          "name": "Google Drive account - Abood"
        }
      }
    },
    {
      "parameters": {
        "tableName": "n8n_chat_histories_abood_rag"
      },
      "id": "43aab786-f0ac-4f4b-b866-dc503e267713",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        -976,
        208
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "chxgAevMPA9lPXpx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "ea73d183-9426-455d-85a6-c1c02f2c81fd",
              "name": "user_id",
              "value": "={{ $('set vars').item.json.body.userId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8d4874c7-9038-4361-90b5-a073cbd58733",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        960
      ]
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 464.8027193303974,
        "width": 1035.6381264595484
      },
      "id": "4d1c53d2-7726-481f-8d85-e452dd35db4f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1424,
        -96
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Study_Guid",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "c27831e2-3086-43d6-b537-695b96202564",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2576,
        176
      ],
      "webhookId": "bf4dd093-bb02-472c-9454-7ab9af97bd1d",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mX6QZwkWwj6aFESP",
          "name": "n8n api key"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "ec6cd146-d12c-4dff-b259-64822c2bb27c",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1824,
        432
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "b677eef2-33b8-405a-b262-3e99dc10a7a9",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        2032,
        512
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a personal assistant (NeverMissAI) designed to help users study and answer questions from a corpus of uploaded documents. The documents are either text-based (Txt, docs, extracted PDFs, etc.) or tabular data (CSVs or Excel documents). Your primary goal is to provide accurate, document-grounded answers and to help users learn the material by creating quizzes, summaries, and flashcards.\nalways try to give the user after you answer the his question that if he wants creating quizzes, summaries, and flashcards.\nAvailable Tools:\n\n* RAG (Retrieval-Augmented Generation): Your primary tool. It uses the Postgres PGVector Store to perform a semantic search across all documents to find the most relevant information to answer a user's query.\n* list_documents: Use this tool to get a list of all available document titles in the knowledge base.\n* get_file_contents: Use this tool to retrieve the full text content of a specific document.\n* query_document_rows: Use this tool to execute SQL queries on tabular documents (CSVs, Excel) to perform calculations like sums, averages, or filtering.\n\nYour Workflow:\n\n1. \nAnalyze the Query: First, understand the user's intent. Are they asking a question, requesting a study aid (quiz, summary, flashcards), or asking for data analysis?\n\n2. \nDefault to RAG: Always start by using the RAG tool with the Postgres PGVector Store to answer the user's question. This should be your first step for almost all informational requests.\n\n3. \nIf RAG Fails or is Insufficient: If the initial RAG search does not provide a satisfactory answer, use the list_documents tool to see the available files. Identify a few documents that are likely to contain the answer based on their names, then use the get_file_contents tool to read them and synthesize an answer.\n\n4. \nFor Tabular Data Queries: If the user's question requires a calculation or specific data lookup from a spreadsheet or CSV (e.g., \"What is the total sales?\" or \"Find all entries from October\"), use the query_document_rows tool with a proper SQL query. Do not use RAG for tasks that require precise mathematical or aggregate calculations.\n\n\nStudy Aid Generation:\n\n* Fulfill Requests: When a user explicitly asks for a \"quiz,\" \"summary,\" or \"flashcards\" on a specific topic or document, use your RAG and get_file_contents tools to gather the relevant information and generate the requested material.\n* Proactive Suggestions: After successfully answering a user's question, you should proactively suggest creating a study aid.\n\nExample: \"I found the answer in the document 'Quantum_Physics_101.pdf'. Would you like me to create a quiz or a set of flashcards based on this topic?\"\nExample: \"That's a great question. Now that we've covered it, would you like a summary of the related chapter?\"\n\n\n\nImportant Rules:\n\n* Honesty is Key: Always tell the user if you cannot find the answer in the provided documents. Do not make up information. A correct response can be \"I could not find an answer to your question in the available documents.\"\n* Prioritize the Vector Store: The Postgres PGVector Store is your most powerful tool for finding information within the text. Always try it first."
        }
      },
      "id": "d36bb9df-5819-4a2d-b4c5-7e8c6d83ca78",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -912,
        -16
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f422e2e0-381c-46ea-8f38-3f58c501d8b9",
              "name": "schema",
              "value": "={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}",
              "type": "string"
            },
            {
              "id": "bb07c71e-5b60-4795-864c-cc3845b6bc46",
              "name": "data",
              "value": "={{ $json.concatenated_data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2448,
        448
      ],
      "id": "8d0e43cd-49a7-4eb2-bc4a-c9810fe15aee",
      "name": "Set Schema"
    },
    {
      "parameters": {
        "content": "## Run Each Node Once to Set Up Database Tables",
        "height": 300,
        "width": 680,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1952,
        1424
      ],
      "typeVersion": 1,
      "id": "262b2e98-ac18-479a-85a5-974c43034790",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE document_abood_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1824,
        1520
      ],
      "id": "d7af8f3d-922b-4f86-91af-025f1dd013f4",
      "name": "Create Document Metadata Table",
      "credentials": {
        "postgres": {
          "id": "chxgAevMPA9lPXpx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE document_abood_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES document_metadata(id),\n    row_data JSONB  -- Store the actual row data\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1520,
        1520
      ],
      "id": "23c4ee8e-292d-4236-9a35-3b3c71be7c5d",
      "name": "Create Document Rows Table (for Tabular Data)",
      "credentials": {
        "postgres": {
          "id": "chxgAevMPA9lPXpx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_abood_metadata",
          "mode": "list",
          "cachedResultName": "document_abood_metadata"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $('Webhook').item.json.body.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -848,
        208
      ],
      "id": "8e2b5e25-30eb-493b-b8a2-aed1b58ff05c",
      "name": "List Documents",
      "credentials": {
        "postgres": {
          "id": "chxgAevMPA9lPXpx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Given a file ID, fetches the text from the document.",
        "operation": "executeQuery",
        "query": "SELECT string_agg(text, ' ') as document_text FROM documents_abood_pg WHERE metadata->>'file_id' = $1 AND metadata->>'user_id' = $2 GROUP BY metadata->>'file_id';",
        "options": {
          "queryReplacement": "={{ $fromAI('file_id') }},={{ $('Webhook').item.json.body.user_id }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -704,
        208
      ],
      "id": "c592b351-b597-4f7f-b410-30f2d858335e",
      "name": "Get File Contents",
      "credentials": {
        "postgres": {
          "id": "chxgAevMPA9lPXpx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Run a SQL query - use this to query from the document_abood_rows table once you know the file ID you are querying. dataset_id is the file_id and you are always using the row_data for filtering, which is a jsonb field that has all the keys from the file schema given in the document_abood_metadata table.\n\nExample query:\n\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM document_abood_rows\nWHERE dataset_id = '123';\n\nExample query 2:\n\nSELECT \n    row_data->>'category' as category,\n    SUM((row_data->>'sales')::numeric) as total_sales\nFROM dataset_rows\nWHERE dataset_id = '123'\nGROUP BY row_data->>'category';",
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_query') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -544,
        208
      ],
      "id": "d3c1bd70-330a-4a1e-b92b-a2b6d25ddcad",
      "name": "Query Document Rows",
      "credentials": {
        "postgres": {
          "id": "chxgAevMPA9lPXpx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -352,
        192
      ],
      "id": "6a377290-3acb-4904-acda-623cdc9d6071",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "2E4la5AHMF1hdLEO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_abood_metadata",
          "mode": "list",
          "cachedResultName": "document_abood_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "title": "={{ $('Set File ID').item.json.file_title }}",
            "url": "={{ $('Set File ID').item.json.file_url }}",
            "user_id": "={{ $('Set File ID').item.json.user_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        800,
        816
      ],
      "id": "cbd6f503-7c0e-4707-badd-f74c2add211c",
      "name": "Insert Document Metadata",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "chxgAevMPA9lPXpx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_abood_rows",
          "mode": "list",
          "cachedResultName": "document_abood_rows"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dataset_id": "={{ $('Set File ID').item.json.file_id }}",
            "row_data": "={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}",
            "user_id": "={{ $('Set File ID').item.json.user_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dataset_id",
              "displayName": "dataset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_data",
              "displayName": "row_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1824,
        608
      ],
      "id": "5bb01ce9-6cc4-4f36-a74d-e884a0b0e42d",
      "name": "Insert Table Rows",
      "credentials": {
        "postgres": {
          "id": "chxgAevMPA9lPXpx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_abood_metadata",
          "mode": "list",
          "cachedResultName": "document_abood_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "schema": "={{ $json.schema }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2672,
        448
      ],
      "id": "97c781d1-0ff7-4b96-85b9-547eee670c75",
      "name": "Update Schema for Document Metadata",
      "credentials": {
        "postgres": {
          "id": "chxgAevMPA9lPXpx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "topN": 4
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        16,
        192
      ],
      "id": "e1750ce3-500b-473c-9bbf-08b017d43bd8",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "IXVxG2XEcMg7Wbgk",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use RAG to look up information in the knowledgebase.",
        "tableName": "documents_abood_pg",
        "topK": 100,
        "useReranker": true,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "user_id",
                "value": "={{ $json.body.userId }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -192,
        -16
      ],
      "id": "a8b4d53a-1fcd-4bb9-a172-c98ab4f0a148",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "chxgAevMPA9lPXpx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "documents_abood_pg",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        2464,
        672
      ],
      "id": "94e2b876-f544-47fd-801a-652cb0796ea3",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "chxgAevMPA9lPXpx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DO $$\nBEGIN\n    IF EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'documents_abood_pg') THEN\n        EXECUTE 'DELETE FROM documents_abood_pg WHERE metadata->>''file_id'' LIKE ''%' || $1 || '%''';\n    END IF;\nEND\n$$;",
        "options": {
          "queryReplacement": "={{ $json.file_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        464,
        816
      ],
      "id": "fdd49f24-c109-4ac1-b5bc-bb116db7e6ac",
      "name": "Delete Old Data Rows",
      "credentials": {
        "postgres": {
          "id": "chxgAevMPA9lPXpx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM document_abood_rows\nWHERE dataset_id LIKE '%' || $1 || '%';",
        "options": {
          "queryReplacement": "={{ $('Set File ID').item.json.file_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        976
      ],
      "id": "222bc77d-6572-4b2a-8597-28fb1ccfd788",
      "name": "Delete Old Doc Rows",
      "credentials": {
        "postgres": {
          "id": "chxgAevMPA9lPXpx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "'1g7rnJHz14qbKel3CchFM6S0osMgXXblT' in parents and trashed = true"
            },
            {
              "name": "fields",
              "value": "files(id,name,mimeType,webViewLink,trashed,trashedTime)"
            },
            {
              "name": "pageSize",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "id": "a8704f20-8b55-4d56-a758-b3ed5bc73798",
      "name": "Get Trashed Files via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -976,
        1536
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "AnJ7hWPr7IzejBnH",
          "name": "Google zentraidai"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the response from Google Drive API\nconst response = $input.first().json;\nconst trashedFiles = response.files || [];\n\nif (trashedFiles.length === 0) {\n  return [{ message: 'No trashed files found', count: 0 }];\n}\n\n// Return each file as a separate item for processing\nreturn trashedFiles.map(file => ({\n  file_id: file.id,\n  file_name: file.name,\n  file_type: file.mimeType,\n  file_url: file.webViewLink,\n  trashed_time: file.trashedTime\n}));"
      },
      "id": "47267a41-dcc1-46b7-bbc3-c37654b12644",
      "name": "Parse Trashed Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        1536
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "conditions": [
              {
                "value1": "={{ $json.file_id }}",
                "operation": "isNotEmpty"
              }
            ]
          }
        },
        "options": {}
      },
      "id": "b16f508a-a252-443c-8cfd-a7fb029fe332",
      "name": "Has Files to Delete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -576,
        1536
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM document_abood_metadata WHERE id = '{{ $json.file_id }}'",
        "options": {}
      },
      "id": "11eba41e-b449-43e7-b399-25d4200589e3",
      "name": "Check If Exists in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -384,
        1536
      ],
      "credentials": {
        "postgres": {
          "id": "chxgAevMPA9lPXpx",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "992a20a8-5b6a-4ea4-b021-7458435e131a",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3b0da67a-9b84-4876-9df4-15fc3454c659",
      "name": "Exists in DB?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -176,
        1536
      ]
    },
    {
      "parameters": {
        "content": "## Vector Store Cleanup (Periodically)\nScan the Google Drive Folder regularely and deletes non existent documents from the vector store as well.",
        "height": 305,
        "width": 1976,
        "color": 6
      },
      "id": "3cdc0a4a-87d2-418e-931d-060642a8426e",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1248,
        1440
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM document_abood_metadata WHERE id = '{{ $('Parse Trashed Files').first().json.file_id }}'",
        "options": {}
      },
      "id": "ef39fe28-d623-4343-8185-c51452808449",
      "name": "Delete Metadata",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        432,
        1536
      ],
      "credentials": {
        "postgres": {
          "id": "chxgAevMPA9lPXpx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "5dab8de1-0c56-419b-b5b8-48d55081e27c",
      "name": "Check Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1184,
        1536
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DO $$\nBEGIN\n    IF EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'documents_abood_pg') THEN\n        EXECUTE 'DELETE FROM documents_abood_pg WHERE metadata->>''file_id'' LIKE ''%' || $1 || '%''';\n    END IF;\nEND\n$$;",
        "options": {
          "queryReplacement": "={{ $('Parse Trashed Files').item.json.file_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        48,
        1536
      ],
      "id": "297ab268-0f70-4125-b4fb-db05979b3a06",
      "name": "Delete Old Data Rows1",
      "credentials": {
        "postgres": {
          "id": "chxgAevMPA9lPXpx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM document_abood_rows\nWHERE dataset_id LIKE '%' || $1 || '%';",
        "options": {
          "queryReplacement": "={{ $('Parse Trashed Files').first().json.file_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        1536
      ],
      "id": "d1d6adea-c0c2-4235-ac30-4579f2f0fce7",
      "name": "Delete Old Doc Rows1",
      "credentials": {
        "postgres": {
          "id": "chxgAevMPA9lPXpx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2576,
        1088
      ],
      "id": "e3e98268-a46a-4517-b302-1f196c4fbd6a",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "code": {
          "execute": {
            "code": "const { PromptTemplate } = require('@langchain/core/prompts');\n\n// Extract document text\nconst documentContent = $input.item.json.doc?.[0]?.json?.text\n  || $input.item.json.doc?.[0]?.json?.data\n  || $input.item.json.doc?.[0]?.json?.content?.parts?.[0]?.text;\n\nconst maxChunkSize = 1000;\nconst minChunkSize = 400;\n\nif (!documentContent) {\n  throw new Error('No document found in input');\n}\n\nfunction cleanText(text) {\n  return text.replace(/\\s+/g, ' ').trim();\n}\n\nconst chunks = [];\nlet remainingText = cleanText(documentContent);\nlet chunkNumber = 1;\n\n// Get all connected models\nlet models = await this.getInputConnectionData('ai_languageModel', 0);\n// If multiple, models could be array\nif (Array.isArray(models)) {\n  // filter out null/undefined\n  models = models.filter(m => m != null);\n}\nif (!models || (Array.isArray(models) && models.length === 0)) {\n  throw new Error('No language model connected');\n}\n\n// Choose first model\nconst llm = Array.isArray(models) ? models[0] : models;\n\nconsole.log(`Using model: ${llm?.name || llm?.modelName || 'unknown'}`);\n\nif (remainingText.length <= maxChunkSize) {\n  chunks.push({ content: remainingText, chunk: chunkNumber, chunk_size: remainingText.length });\n} else {\n  while (remainingText) {\n    const textToAnalyze = remainingText.substring(0, maxChunkSize);\n\n    const promptText = `You are analyzing a document to find the best transition point to split it into meaningful sections.\n\nYour goal: Keep related content together and split where topics naturally transition.\n\nRead this text carefully and identify where one topic/section ends and another begins:\n\n${textToAnalyze}\n\nFind the best transition point that occurs BEFORE character position ${maxChunkSize}.\n\nLook for:\n- Section headings or topic changes\n- Paragraph boundaries where the subject shifts\n- Complete conclusions before new ideas start\n- Natural breaks between different aspects of the content\n\nOutput the LAST WORD that appears right before your chosen split point.\nJust the single word itself, nothing else.\nExample: If you want to split after \"The company was founded in 2022.\" then output: \"2022\"`;\n\n    // Use static prompt object to avoid parsing errors\n    const prompt = { format: async () => promptText };\n\n    let breakPoint = maxChunkSize;\n\n    try {\n      // 🧠 Invoke the model\n      const response = await llm.invoke(promptText);\n      const responseText = response.content || response.text || response.toString();\n      const breakWord = responseText.trim();\n\n      console.log(`Chunk #${chunkNumber} break word: \"${breakWord}\"`);\n\n      if (breakWord) {\n        const wordIndex = textToAnalyze.lastIndexOf(breakWord);\n        if (wordIndex !== -1) {\n          breakPoint = wordIndex + breakWord.length;\n          while (\n            breakPoint < textToAnalyze.length &&\n            ['.', '!', '?', ',', ';', ':', ' '].includes(textToAnalyze[breakPoint])\n          ) {\n            breakPoint++;\n            if (textToAnalyze[breakPoint - 1] === ' ') break;\n          }\n          breakPoint = Math.min(breakPoint, maxChunkSize);\n        }\n      }\n    } catch (error) {\n      console.log('LLM failed to determine breakpoint, using max size:', error.message);\n      breakPoint = maxChunkSize;\n    }\n\n    const chunk = remainingText.substring(0, breakPoint).trim();\n\n    if (chunk) {\n      chunks.push({ content: chunk, chunk: chunkNumber, chunk_size: chunk.length });\n      chunkNumber++;\n    }\n\n    remainingText = remainingText.substring(breakPoint).trim();\n\n    if (!remainingText) break;\n  }\n}\n\n// Merge small chunks\nlet i = 0;\nwhile (i < chunks.length) {\n  if (chunks[i].chunk_size < minChunkSize) {\n    if (i + 1 < chunks.length && chunks[i].chunk_size + chunks[i + 1].chunk_size <= maxChunkSize) {\n      chunks[i].content += ' ' + chunks[i + 1].content;\n      chunks[i].chunk_size = chunks[i].content.length;\n      chunks.splice(i + 1, 1);\n    } else if (i > 0 && chunks[i - 1].chunk_size + chunks[i].chunk_size <= maxChunkSize) {\n      chunks[i - 1].content += ' ' + chunks[i].content;\n      chunks[i - 1].chunk_size = chunks[i - 1].content.length;\n      chunks.splice(i, 1);\n    } else {\n      i++;\n    }\n  } else {\n    i++;\n  }\n}\n\n// Return data\nreturn chunks.map(chunk => ({ json: chunk }));\n"
          }
        },
        "inputs": {
          "input": [
            {
              "type": "ai_languageModel",
              "maxConnections": 1,
              "required": true
            },
            {
              "type": "main",
              "required": true
            }
          ]
        },
        "outputs": {
          "output": [
            {
              "type": "main"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.code",
      "typeVersion": 1,
      "position": [
        1792,
        960
      ],
      "id": "9cc1661b-d558-47b5-8aac-662c31782a04",
      "name": "LangChain Code"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2112,
        2736
      ],
      "id": "0ef2dbb7-d3cb-4f41-9664-19de459a227b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "2E4la5AHMF1hdLEO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        208
      ],
      "id": "88b4a2f3-9dcc-42be-9b87-22a514b43b20",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "ZBVESd8Dq9NE8tHX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2400,
        928
      ],
      "id": "4317426a-6c69-4c3b-ac91-50422aca26d8",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "ZBVESd8Dq9NE8tHX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1120,
        208
      ],
      "id": "0de69895-41eb-4812-9947-05e5e5b263ca",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ZBVESd8Dq9NE8tHX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "RAG_upload_files",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2448,
        736
      ],
      "id": "6d26e78f-d677-4274-9261-57ef0954d2e6",
      "name": "Webhook1",
      "webhookId": "268af18b-227b-4352-9fac-880f2c5fa91a",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mX6QZwkWwj6aFESP",
          "name": "n8n api key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c800c7a9-0eaf-4964-8931-de6c4e60aefa",
              "name": "body.userId",
              "value": "={{ $('Webhook1').item.json.body.userId }}",
              "type": "string"
            },
            {
              "id": "0a3467c3-87a8-4f86-b87c-99271720fc12",
              "name": "body.metadata",
              "value": "={{ $('Webhook1').item.json.body.metadata }}",
              "type": "string"
            },
            {
              "id": "02bfc0f5-d961-452a-8a71-2c1379165b66",
              "name": "body.drive_folder_id",
              "value": "={{ $json.drive_folder_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -912,
        864
      ],
      "id": "4c729955-5e52-456e-9ffd-b2ca3630d43c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1776,
        752
      ],
      "id": "1cf58e64-3c6b-48dd-aff3-302e5fadc1ff",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -416,
        704
      ],
      "id": "bc80d00b-7032-4f1a-901b-f6931de196f4",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        288,
        592
      ],
      "id": "1334b9ee-2182-4459-af85-b8f6afbf1ced"
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $('Webhook1').all()[0].binary[$('Loop Over Items1').item.json.file_index] }}",
        "name": "={{ $json.name }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('set vars').first().json.body.drive_folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -32,
        960
      ],
      "id": "49d5db1c-dfbb-4fc1-ab73-e4e71ff6683c",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9X2xSyHCv8sMei1N",
          "name": "Google Drive account - Abood"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Your metadata as a string\nconst metadataString = $input.first().json.body.metadata;\n\n// Parse the string into JSON\nconst metadataArray = JSON.parse(metadataString);\n\n// Return each file as a separate item with file_index and file data\nreturn metadataArray.map((item, idx) => ({\n  json: {\n    file_index: `file_${idx}`,\n    ...item\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        688
      ],
      "id": "35cd17d0-d9f1-41b3-87aa-7e720032c9bb",
      "name": "list files"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Webhook1').item.json.body.userId }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1FYCtXhQrtB3yhA0LI2m00bThLD9EeP5X",
          "mode": "list",
          "cachedResultName": "n8n rag system",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1FYCtXhQrtB3yhA0LI2m00bThLD9EeP5X"
        },
        "options": {
          "folderColorRgb": "#2A3F9D"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1200,
        592
      ],
      "id": "2fd991fb-3d88-46ba-a8a5-5363337555a3",
      "name": "Create folder",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9X2xSyHCv8sMei1N",
          "name": "Google Drive account - Abood"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Webhook1').item.json.body.userId }}",
        "returnAll": true,
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "includeTrashed": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1536,
        736
      ],
      "id": "8d056030-85c5-4009-bc02-8d9af85e7d3c",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9X2xSyHCv8sMei1N",
          "name": "Google Drive account - Abood"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b6b28bfa-7945-4bf7-af0b-3f828f55ad17",
              "leftValue": "={{ $('Search files and folders').all().length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "db180d2c-3eb9-4275-ba28-7ff78e0fe30e",
              "leftValue": "={{ Object.keys($json).length === 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1360,
        736
      ],
      "id": "8820e00c-b0c9-485a-8e85-d6fdef04f598",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eranclikview.app.n8n.cloud/webhook/RAG_Extract_Text",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "file_title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "file_type",
              "value": "={{ $('Set File ID').item.json.file_type }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        960
      ],
      "id": "78079971-7f21-4242-b965-83606680ee5d",
      "name": "extract text from file"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "45e566fe-88dd-4475-886f-5284bd08be41",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "CSV",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=CSV"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e4a9956e-82ef-4af5-b0a6-2b03f7c224b1",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "Excel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "48f90bf7-45b8-4e20-9252-5185db091203"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf & document"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1440,
        672
      ],
      "id": "153ff5a1-5fe7-492b-838a-4d8876d10c4f",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "089030fa-58d3-4237-91ee-73809937991c",
              "name": "url",
              "value": "https://archegonial-braxton-colonizable.ngrok-free.dev/",
              "type": "string"
            },
            {
              "id": "80ab2bef-bf6c-480a-93b3-66344b179404",
              "name": "body.userId",
              "value": "={{ $json.body.userId }}",
              "type": "string"
            },
            {
              "id": "cc9ae645-4f5a-43ba-8797-1a1787d7c738",
              "name": "body.sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2240,
        736
      ],
      "id": "9a48bb13-580c-47ab-8705-d5a91f562712",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}api/file-processing-status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}"
            },
            {
              "name": "userId",
              "value": "={{ $json.body.userId }}"
            },
            {
              "name": "status",
              "value": "pending"
            },
            {
              "name": "message",
              "value": "File processing has started for this session."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2688,
        2736
      ],
      "id": "dfeb61af-89fe-49d0-be36-5e9feedf570e",
      "name": "sending pending status1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mX6QZwkWwj6aFESP",
          "name": "n8n api key"
        }
      }
    },
    {
      "parameters": {
        "tableId": "notifications",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.body.userId }}"
            },
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $json.body.sessionId }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "message",
              "fieldValue": "File processing has started for this session."
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2000,
        752
      ],
      "id": "4b4b93a3-759b-46ca-bb9f-6ceb08dfe87e",
      "name": "sending pending status",
      "credentials": {
        "supabaseApi": {
          "id": "1ZWOta44d2g92iST",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields2').item.json.url }}api/file-processing-status",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sessionId",
              "value": "={{ $('Edit Fields2').item.json.body.sessionId }}"
            },
            {
              "name": "userId",
              "value": "={{ $('Edit Fields2').item.json.body.userId }}"
            },
            {
              "name": "status",
              "value": "completed"
            },
            {
              "name": "message",
              "value": "All files in this session are ready!"
            },
            {
              "name": "redirectUrl",
              "value": "https://n8n.zentraid.com/webhook/Study_Guid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2528,
        2752
      ],
      "id": "a498114e-65cf-46aa-acc2-15e225778b32",
      "name": "sending completed status1"
    },
    {
      "parameters": {
        "tableId": "notifications",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Edit Fields2').item.json.body.userId }}"
            },
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('Edit Fields2').item.json.body.sessionId }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "message",
              "fieldValue": "All files in this session are ready!, File processed. Open study guide chat "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        32,
        592
      ],
      "id": "7e76921b-0ad9-4d55-8e30-9039b5789328",
      "name": "sending completed status",
      "credentials": {
        "supabaseApi": {
          "id": "1ZWOta44d2g92iST",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-english-light-v2.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        2752,
        1120
      ],
      "id": "24b4b287-2a31-4073-b12a-23e2cdc1e671",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "IXVxG2XEcMg7Wbgk",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-english-light-v2.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        -144,
        176
      ],
      "id": "1e3b186b-cde2-4e1d-9ab3-eef4822e081f",
      "name": "Embeddings Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "IXVxG2XEcMg7Wbgk",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "DB3Aff80w2anRuGn",
          "mode": "list",
          "cachedResultName": "NeverMissAI",
          "cachedResultUrl": "/projects/RPm5pmvvHTlRc49e/datatables/DB3Aff80w2anRuGn"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Edit Fields2').item.json.body.userId }}",
            "drive_folder_id": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "drive_folder_id",
              "displayName": "drive_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1056,
        592
      ],
      "id": "f3104174-e701-4f0f-86b1-10db0cc4653c",
      "name": "Insert row"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "DB3Aff80w2anRuGn",
          "mode": "list",
          "cachedResultName": "NeverMissAI",
          "cachedResultUrl": "/projects/RPm5pmvvHTlRc49e/datatables/DB3Aff80w2anRuGn"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('Edit Fields2').item.json.body.userId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1120,
        848
      ],
      "id": "628a017b-b2d9-4ac0-a7b1-da6c9901afaf",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c5be413-6196-4105-9795-1f587861cb87",
              "name": "body.metadata",
              "value": "={{ $('Webhook1').item.json.body.metadata }}",
              "type": "string"
            },
            {
              "id": "280c3a0d-9e3b-4b50-8287-44032bc1698f",
              "name": "body.userId",
              "value": "={{ $('Webhook1').item.json.body.userId }}",
              "type": "string"
            },
            {
              "id": "2ab1ee8a-e02e-406b-98fa-4abf09577e25",
              "name": "body.drive_folder_id",
              "value": "={{ $json.drive_folder_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        592
      ],
      "id": "c835dc61-e60f-43a8-9655-4a502dfc1ba0",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e60be0d9-2821-490b-bf8d-ebd5116e1435",
              "name": "body.userId",
              "value": "={{ $json.body.userId }}",
              "type": "string"
            },
            {
              "id": "1ddd2c12-b17d-4984-b0a9-ae0afd47437a",
              "name": "body.metadata",
              "value": "={{ $json.body.metadata }}",
              "type": "string"
            },
            {
              "id": "78704eb7-8072-4289-ad9e-fe52031f2ddf",
              "name": "body.drive_folder_id",
              "value": "={{ $json.body.drive_folder_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        704
      ],
      "id": "ddb3e427-4563-4455-8747-d1df31ece989",
      "name": "set vars"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1952,
        2736
      ],
      "id": "cd3497d5-ef05-4cc5-91af-6d6c1082f644",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Fgm0k1WYagl2k0F6",
          "name": "OpenRouter account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let inputData = $input.item.json.doc[0].json.content.parts[0].text;\n\n// If the input is a string, clean and parse it\nif (typeof inputData === 'string') {\n  try {\n    // Remove markdown code blocks (```json ... ``` or ``` ... ```)\n    let cleanedData = inputData.trim();\n    \n    // Remove opening code block\n    cleanedData = cleanedData.replace(/^```json\\s*/i, '');\n    cleanedData = cleanedData.replace(/^```\\s*/, '');\n    \n    // Remove closing code block\n    cleanedData = cleanedData.replace(/\\s*```$/, '');\n    \n    // Parse the cleaned JSON\n    inputData = JSON.parse(cleanedData);\n  } catch (e) {\n    return { json: { error: 'Invalid JSON string', parseError: e.message, raw: inputData } };\n  }\n}\n\n// If it's an array, get the first item\nif (Array.isArray(inputData)) {\n  inputData = inputData[0];\n}\n\n// Initialize the result object\nlet result = {\n  type: null,\n  title: null,\n  author: null,\n  numpages: null,\n  text: null,\n  content: null,\n  extractedAt: new Date().toISOString()\n};\n\n// Check if we have the nested structure from PDF extraction\nif (inputData.doc && Array.isArray(inputData.doc) && inputData.doc.length > 0) {\n  const docItem = inputData.doc[0];\n  \n  result.type = $input.item.json.type;\n  result.title = docItem.json?.info?.Title || null;\n  result.author = docItem.json?.info?.Author || null;\n  result.numpages = docItem.json?.numpages || null;\n  result.text = docItem.json?.text || '';\n} else if (inputData.title || inputData.content) {\n  // Handle the new structured format from AI\n  result.title = inputData.title;\n  result.content = inputData.content;\n  result.text = JSON.stringify(inputData.content, null, 2);\n} else {\n  // Handle direct text input\n  result.text = inputData.text || inputData.data || JSON.stringify(inputData);\n  result.content = inputData;\n}\n\nreturn { json: result };"
      },
      "id": "6e0500ab-d70a-4120-8a24-c5daa5f75c64",
      "name": "Convert to Clean JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2336,
        2720
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1600,
        1136
      ],
      "id": "cbb07c81-12d4-4fb1-8cf3-1ece89acbc65",
      "name": "ai_languageModel",
      "credentials": {
        "googlePalmApi": {
          "id": "ZBVESd8Dq9NE8tHX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract document text\nconst documentContent = $input.item.json.doc?.[0]?.json?.text\n  || $input.item.json.doc?.[0]?.json?.data\n  || $input.item.json.doc?.[0]?.json?.content?.parts?.[0]?.text;\n\nif (!documentContent) {\n  throw new Error('No document found in input');\n}\n\n// Settings\nconst maxChunkSize = 1000;\nconst minChunkSize = 400;\nconst overlapSize = 100;  // optional overlap between chunks\n\nfunction cleanText(text) {\n  return text.replace(/\\s+/g, ' ').trim();\n}\n\n// Find a good split point near index\nfunction findSplitPoint(text, maxIndex) {\n  // Try to find a sentence end (\". \" or \"? \" or \"! \") back from maxIndex\n  for (let i = maxIndex; i >= Math.max(0, maxIndex - 100); i--) {\n    const c = text[i];\n    if (c === '.' || c === '?' || c === '!') {\n      if (i + 1 < text.length && text[i + 1] === ' ') {\n        return i + 2;  // split just after the sentence end + space\n      }\n    }\n    // Also split at newline\n    if (text[i] === '\\n') {\n      return i + 1;\n    }\n  }\n  // If no boundary found, just split at maxIndex\n  return maxIndex;\n}\n\n// Main chunking\nconst chunks = [];\nlet remainingText = cleanText(documentContent);\nlet chunkNumber = 1;\n\nwhile (remainingText.length > 0) {\n  if (remainingText.length <= maxChunkSize) {\n    // last chunk\n    chunks.push({\n      content: remainingText,\n      chunk: chunkNumber,\n      chunk_size: remainingText.length\n    });\n    break;\n  } else {\n    // determine cut index\n    const maxIndex = maxChunkSize;\n    let cutIndex = findSplitPoint(remainingText, maxIndex);\n    const chunkContent = remainingText.substring(0, cutIndex).trim();\n    chunks.push({\n      content: chunkContent,\n      chunk: chunkNumber,\n      chunk_size: chunkContent.length\n    });\n    chunkNumber++;\n    // prepare next\n    // include overlap from end of this chunk\n    const startNext = Math.max(0, cutIndex - overlapSize);\n    remainingText = remainingText.substring(startNext).trim();\n  }\n}\n\n// Merge very small chunks with neighbours\nfor (let i = 0; i < chunks.length; ) {\n  if (chunks[i].chunk_size < minChunkSize && i + 1 < chunks.length) {\n    // merge with next\n    chunks[i].content += ' ' + chunks[i + 1].content;\n    chunks[i].chunk_size = chunks[i].content.length;\n    chunks.splice(i + 1, 1);\n  } else {\n    i++;\n  }\n}\n\n// Return JSON array\nreturn chunks.map(chunk => ({ json: chunk }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        752
      ],
      "id": "6608b5ba-1bac-4168-b7f0-b24b44809a34",
      "name": "chunk the doc"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -160,
        592
      ],
      "id": "ef65a7d7-b2c0-433c-8442-7950b1b33a98",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set Variables Fields1').item.json.body.messageType }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4b15d26a-32b6-4f2b-9a17-080797491078"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1e8c950a-5c74-4f9c-bd12-338f54a55f83",
                    "leftValue": "={{ $('Set Variables Fields1').item.json.body.messageType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -592,
        -624
      ],
      "id": "42eb63a4-2e8a-44bf-875c-162cba803571",
      "name": "Switch1"
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "bMxLr8fP6hzNRRi9nJxU",
          "mode": "list",
          "cachedResultName": "Ivanna - Cute Candid Girl"
        },
        "text": "={{ $json.output }}",
        "additionalOptions": {
          "languageCode": "en"
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        128,
        -672
      ],
      "id": "4309ca4f-6adb-4d3c-ad80-2d1604aaa59d",
      "name": "Convert text to speech",
      "credentials": {
        "elevenLabsApi": {
          "id": "grshADalTVxduHx1",
          "name": "ElevenLabs account new"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {
          "keepSource": "binary"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        352,
        -672
      ],
      "id": "70ea3ceb-8c4d-4926-9b86-689454ac89db",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "4wf10lgibMnboGJGCLrP",
          "mode": "list",
          "cachedResultName": "Farah - Premium Arabic Female Voice"
        },
        "text": "={{ $json.output }}",
        "additionalOptions": {
          "languageCode": "ar"
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        144,
        -928
      ],
      "id": "764a49d4-c1b2-47ae-8b5c-448bd3af7a37",
      "name": "Convert text to speech1",
      "credentials": {
        "elevenLabsApi": {
          "id": "grshADalTVxduHx1",
          "name": "ElevenLabs account new"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {
          "keepSource": "binary"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        368,
        -928
      ],
      "id": "869eb260-6d01-4cc8-b0d2-193e530e31a5",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "content": "## Arabic Language  \n",
        "height": 240,
        "width": 1008,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -976
      ],
      "typeVersion": 1,
      "id": "38518580-fcbf-419f-9503-4cd63c017e6d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "19e1cd89-49d4-439e-a0b4-6f3f28c7dcf1",
              "leftValue": "={{ $json.lang }}",
              "rightValue": "arabic",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        -800
      ],
      "id": "07945e9c-66f6-4993-9f19-ae1707597c3d",
      "name": "check Langauge"
    },
    {
      "parameters": {
        "content": "## English Language \n",
        "height": 240,
        "width": 1008,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -736
      ],
      "typeVersion": 1,
      "id": "c6944b39-3bcb-473c-91d1-bbeee2e3b00f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Voice Answer\n",
        "height": 592,
        "width": 1104,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        -1040
      ],
      "typeVersion": 1,
      "id": "af845c2c-4145-47c5-820e-d09e62cd288a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "jsCode": "// Smart JSON Cleaner 3.0\n// Cleans AI Markdown safely for JSON while preserving real newlines\n\nconst input = $input.item.json;\nlet text = input?.output?.output ?? '';\n// let text = $input.first().json.output;\n\n// Ensure string type\ntext = String(text);\n\n// STEP 1: Normalize escape sequences\ntext = text\n  .replace(/\\\\r\\\\n/g, '\\n')  // Replace escaped CRLF -> real newline\n  .replace(/\\\\n/g, '\\n')     // Replace escaped LF -> real newline\n  .replace(/\\\\r/g, '\\n')     // Replace escaped CR -> real newline\n  .replace(/\\\\t/g, ' ')      // Replace escaped tabs -> space\n  .replace(/\\\\b|\\\\f/g, ' ')  // Remove other escapes\n  .replace(/\\u0000/g, ' ');  // Remove null bytes\n\n// STEP 2: Remove control chars except newlines\ntext = text.replace(/[\\u0001-\\u0009\\u000B-\\u001F\\u007F]/g, ' ');\n\n// STEP 3: Fix unescaped quotes (replace double quotes with single)\ntext = text.replace(/\"/g, \"'\");\n\n// STEP 4: Remove unnecessary backslashes, but keep valid ones for URLs\ntext = text.replace(/(\\\\)(?![\\\\\\/ntrfb\"])/g, '');\n\n// STEP 5: Collapse extra spaces but KEEP newlines\ntext = text\n  .replace(/[ \\t]+/g, ' ')      // collapse multiple spaces\n  .replace(/\\n{3,}/g, '\\n\\n')   // more than 2 newlines → 2 newlines\n  .trim();\n\n// STEP 6: Validate JSON safety\ntry {\n  JSON.stringify({ output: text });\n} catch (err) {\n  text = text.replace(/'/g, '');\n}\n\n// Return clean and readable Markdown JSON\nreturn [{ json: { output: text } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -384
      ],
      "id": "cc837510-9bab-4b8c-be49-4c797f67b89b",
      "name": "Clean output",
      "disabled": true
    },
    {
      "parameters": {
        "tableId": "chat_messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('Webhook').item.json.body.sessionId }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Webhook').item.json.body.user_id }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "ai"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Switch1').item.json.output.output }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $('Webhook').item.json.body.messageType }}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $('Webhook').item.json.body.aiTimestamp }}"
            },
            {
              "fieldId": "webhook_url",
              "fieldValue": "https://n8n.zentraid.com/webhook/Study_Guid"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -128,
        -384
      ],
      "id": "087b79f0-9540-4018-b1f7-746d3a892da5",
      "name": "Push message",
      "credentials": {
        "supabaseApi": {
          "id": "1ZWOta44d2g92iST",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "chat_messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('Webhook').item.json.body.sessionId }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Webhook').item.json.body.user_id }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "ai"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $('Webhook').item.json.body.messageType }}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $('Webhook').item.json.body.aiTimestamp }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={\"autoplay\": true }"
            },
            {
              "fieldId": "audio_data",
              "fieldValue": "={{ $json.data }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.data }}"
            },
            {
              "fieldId": "webhook_url",
              "fieldValue": "https://n8n.zentraid.com/webhook/Study_Guid"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        -672
      ],
      "id": "c57829fd-e59b-419b-8722-0c93ee078218",
      "name": "Push English Audio",
      "credentials": {
        "supabaseApi": {
          "id": "1ZWOta44d2g92iST",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Smart JSON Cleaner 3.0\n// Cleans AI Markdown safely for JSON while preserving real newlines\n\nconst input = $input.item.json;\nlet text = input?.output?.output ?? '';\n\n// Ensure string type\ntext = String(text);\n\n// STEP 1: Normalize escape sequences\ntext = text\n  .replace(/\\\\r\\\\n/g, '\\n')  // Replace escaped CRLF -> real newline\n  .replace(/\\\\n/g, '\\n')     // Replace escaped LF -> real newline\n  .replace(/\\\\r/g, '\\n')     // Replace escaped CR -> real newline\n  .replace(/\\\\t/g, ' ')      // Replace escaped tabs -> space\n  .replace(/\\\\b|\\\\f/g, ' ')  // Remove other escapes\n  .replace(/\\u0000/g, ' ');  // Remove null bytes\n\n// STEP 2: Remove control chars except newlines\ntext = text.replace(/[\\u0001-\\u0009\\u000B-\\u001F\\u007F]/g, ' ');\n\n// STEP 3: Fix unescaped quotes (replace double quotes with single)\ntext = text.replace(/\"/g, \"'\");\n\n// STEP 4: Remove unnecessary backslashes, but keep valid ones for URLs\ntext = text.replace(/(\\\\)(?![\\\\\\/ntrfb\"])/g, '');\n\n// STEP 5: Collapse extra spaces but KEEP newlines\ntext = text\n  .replace(/[ \\t]+/g, ' ')      // collapse multiple spaces\n  .replace(/\\n{3,}/g, '\\n\\n')   // more than 2 newlines → 2 newlines\n  .trim();\n\n// STEP 6: Validate JSON safety\ntry {\n  JSON.stringify({ output: text });\n} catch (err) {\n  text = text.replace(/'/g, '');\n}\n\n// Return clean and readable Markdown JSON\nreturn [{ json: { output: text } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -368
      ],
      "id": "b3b54bff-3cfb-479c-b63a-534cf85bf8ba",
      "name": "Clean output1",
      "disabled": true
    },
    {
      "parameters": {
        "tableId": "chat_messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('Webhook').item.json.body.sessionId }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Webhook').item.json.body.user_id }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "ai"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $('Webhook').item.json.body.messageType }}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $('Webhook').item.json.body.aiTimestamp }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={   \"autoplay\": true }"
            },
            {
              "fieldId": "audio_data",
              "fieldValue": "={{ $json.data }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.data }}"
            },
            {
              "fieldId": "webhook_url",
              "fieldValue": "https://n8n.zentraid.com/webhook/Study_Guid"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        576,
        -928
      ],
      "id": "ceac4779-321c-4941-9961-1ebe2f47dd85",
      "name": "Push Arabic Audio1",
      "credentials": {
        "supabaseApi": {
          "id": "1ZWOta44d2g92iST",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "330d464f-fc05-414b-98cd-eebaad733fcd",
              "name": "output",
              "value": "={{ $json.output.output }}",
              "type": "string"
            },
            {
              "id": "3fd4d0d7-63cf-40fe-af0e-d6f101eefcae",
              "name": "lang",
              "value": "={{ $json.output.lang }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        -800
      ],
      "id": "058c2658-8aa6-4034-9b76-e56009f8d286",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"output\": \"full clean beautiful Markdown output\",\n\t\"lang\": \"Arabic or English.\"\n}\n",
        "autoFix": true,
        "customizeRetryPrompt": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -976,
        -368
      ],
      "id": "f9fe35eb-ebeb-431d-83e3-6b9c6090bd6b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -640,
        -352
      ],
      "id": "071ec677-0df0-4f9a-a1d9-9fb447f81757",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ZBVESd8Dq9NE8tHX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1952,
        0
      ],
      "id": "f62e78a7-abe7-43e8-915e-3407cef2fdf5",
      "name": "Transcribe a recording",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "googlePalmApi": {
          "id": "BlHtiekwDaAgAOtB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4720eba-d16c-4619-a98b-46eedf1535b8",
              "name": "body.sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "886618c9-2bbf-433f-a0d3-915353e2808f",
              "name": "body.action",
              "value": "={{ $json.body.action }}",
              "type": "string"
            },
            {
              "id": "bb54e29e-4dfc-4282-adcc-02e5ba1b3657",
              "name": "body.chatInput",
              "value": "={{ $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "867ffba7-cf7e-4f8f-bb07-c36df444b7bb",
              "name": "body.accessToken",
              "value": "={{ $json.body.accessToken }}",
              "type": "string"
            },
            {
              "id": "e929478e-abe7-4305-b966-7e349ea927df",
              "name": "body.refreshToken",
              "value": "={{ $json.body.refreshToken }}",
              "type": "string"
            },
            {
              "id": "e6d9e219-d54a-42ea-a431-df776cd2921a",
              "name": "body.messageType",
              "value": "={{ $json.body.messageType }}",
              "type": "string"
            },
            {
              "id": "788c1e26-c9dd-492d-9d9f-7b64aee6dc4c",
              "name": "body.userId",
              "value": "={{ $json.body.userId }}",
              "type": "string"
            },
            {
              "id": "2dd3c37d-a010-4398-9887-2b65c8e4936a",
              "name": "body.userEmail",
              "value": "={{ $json.body.userEmail }}",
              "type": "string"
            },
            {
              "id": "ec9e290b-99fb-4a08-a2df-579e6494123c",
              "name": "body.user_name",
              "value": "={{ $json.body.user_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1648,
        208
      ],
      "id": "acbaffff-df04-4867-9d9a-8b91a912a5cc",
      "name": "Set Variables Fields"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.audioFile",
        "options": {
          "fileName": "record",
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2192,
        0
      ],
      "id": "3128e88a-7d02-4f66-a8a1-77bc966ce787",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2748740-97c9-4cab-b532-caca940509f0",
              "name": "text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "1d8b4e59-bbc2-4049-9bd8-3f2101ba49e4",
              "name": "body.messageType",
              "value": "={{ $('Webhook').item.json.body.messageType }}",
              "type": "string"
            },
            {
              "id": "a8b8d9b8-0b93-472c-bef2-2408aa207e86",
              "name": "body.accessToken",
              "value": "={{ $('Webhook').item.json.body.accessToken }}",
              "type": "string"
            },
            {
              "id": "517bce7c-cd90-49b3-9ca7-2daa6d2dbb3e",
              "name": "body.refreshToken",
              "value": "={{ $('Webhook').item.json.body.refreshToken }}",
              "type": "string"
            },
            {
              "id": "ba010d23-b685-45ac-a8f7-2ac7eeac8922",
              "name": "body.sessionId",
              "value": "={{ $('Webhook').item.json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "14cf415a-7228-4dec-a7f1-fb06e4accfb9",
              "name": "body.action",
              "value": "={{ $('Webhook').item.json.body.action }}",
              "type": "string"
            },
            {
              "id": "94aa1f68-dfd2-4089-be9c-9168395c2c81",
              "name": "body.userId",
              "value": "={{ $('Webhook').item.json.body.userId }}",
              "type": "string"
            },
            {
              "id": "d25e9044-4e13-468f-bf7f-05601c915438",
              "name": "body.userEmail",
              "value": "={{ $('Webhook').item.json.body.userEmail }}",
              "type": "string"
            },
            {
              "id": "cc79e6e5-4751-4379-a437-ec4ef21c958e",
              "name": "body.userName",
              "value": "={{ $('Webhook').item.json.body.userName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1648,
        0
      ],
      "id": "7f60ebe6-a031-408e-aa92-a96020ed823a",
      "name": "audiotext"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d21bbb70-160a-4710-9474-ad8cb8184b37",
              "name": "AccessToken",
              "value": "=Bearer {{ $json.body.accessToken }}",
              "type": "string"
            },
            {
              "id": "59be0660-7209-4162-809e-beeaa4fe2f06",
              "name": "refreshToken",
              "value": "={{ $json.body.refreshToken }}",
              "type": "string"
            },
            {
              "id": "2f5e1ed1-8623-4335-859d-8d2c6ad52e00",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "cb0a02f7-4b3d-4f1b-ba27-67a25e96da51",
              "name": "action",
              "value": "={{ $json.body.action }}",
              "type": "string"
            },
            {
              "id": "44296037-8630-4cfd-9883-e0d0c899b36a",
              "name": "chatInput",
              "value": "={{ $json.body.chatInput || $json.text}}",
              "type": "string"
            },
            {
              "id": "f357e49d-a21b-42b1-a98a-a9baecb0c9eb",
              "name": "body.messageType",
              "value": "={{ $json.body.messageType }}",
              "type": "string"
            },
            {
              "id": "db1766bb-ec24-48fe-af83-974381f6f4a9",
              "name": "body.userId",
              "value": "={{ $json.body.userId }}",
              "type": "string"
            },
            {
              "id": "06099f9c-4c5c-44c1-89fb-4193c6fee58b",
              "name": "body.userEmail",
              "value": "={{ $json.body.userEmail }}",
              "type": "string"
            },
            {
              "id": "3398205f-67df-4426-a2b7-21152e55a9f4",
              "name": "body.userName",
              "value": "={{ $json.body.userName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        0
      ],
      "id": "dbbe9506-a5cf-4767-8ff2-75d87d22ecfc",
      "name": "Set Variables Fields1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.messageType }}",
                    "rightValue": "=audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "366fd097-72f7-4868-9cfc-f395f18abae2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "696eba18-4aeb-4f61-a50f-65736b07e96a",
                    "leftValue": "={{ $json.body.chatInput }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXT"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2352,
        192
      ],
      "id": "3dc596e5-ada2-4245-bdf5-29a2d6bb6a0d",
      "name": "Switch2"
    },
    {
      "parameters": {
        "content": "## Audio Message\n",
        "height": 240,
        "width": 720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2240,
        -80
      ],
      "typeVersion": 1,
      "id": "59fd192e-8057-4f4a-ba61-0822a6aa6e30",
      "name": "Sticky Note9"
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.zentraid.com",
            "sec-ch-ua-platform": "\"macOS\"",
            "authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJmMWM1ODU3ZC0yZmRlLTQ0MjktYTVhOS1iOTc0YWNiM2U3YWMiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzU5NjU2NDA4LCJleHAiOjE3NjQ3OTU2MDB9.EBUoDnE5kCQccnavJWk1BsCSydNjmq0XQBf9YKb3EUQ",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Brave\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "content-type": "multipart/form-data; boundary=----WebKitFormBoundarySAZUgffxxF6BPeBP",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "sec-gpc": "1",
            "accept-language": "en-US,en;q=0.9",
            "origin": "http://localhost:3000",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "http://localhost:3000/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "x-forwarded-host": "n8n.zentraid.com, n8n.zentraid.com",
            "x-real-ip": "(null)",
            "x-forwarded-for": "217.142.21.13",
            "x-forwarded-server": "n8n.zentraid.com",
            "content-length": "374996",
            "connection": "Keep-Alive"
          },
          "params": {},
          "query": {},
          "body": {
            "userId": "DKwqhWTP83V8KAcISLZmIinMElx1",
            "sessionId": "rag_1762272696565_65xqxacg",
            "metadata": "[{\"name\":\"Aman_kharzoum_Recommendation_Letter.pdf\",\"size\":40754,\"type\":\"application/pdf\"},{\"name\":\"Aman_kharzoum_Recommendation_Letter.pdf\",\"size\":40754,\"type\":\"application/pdf\"},{\"name\":\"Aman_Kharzoum_Resume.pdf\",\"size\":251236,\"type\":\"application/pdf\"},{\"name\":\"Reference Letter - AK.pdf\",\"size\":40754,\"type\":\"application/pdf\"}]",
            "action": "upload_and_finalize"
          },
          "webhookUrl": "https://n8n.zentraid.com/webhook/RAG_upload_files",
          "executionMode": "production"
        },
        "binary": {
          "file_0": {
            "mimeType": "application/pdf",
            "fileType": "pdf",
            "fileExtension": "pdf",
            "data": "filesystem-v2",
            "fileName": "Aman_kharzoum_Recommendation_Letter.pdf",
            "id": "filesystem-v2:workflows/AnLvO0GD5dMbPKtg/executions/temp/binary_data/32333d77-1aff-484d-8c67-896bb7a80db1",
            "fileSize": "40.8 kB"
          },
          "file_1": {
            "mimeType": "application/pdf",
            "fileType": "pdf",
            "fileExtension": "pdf",
            "data": "filesystem-v2",
            "fileName": "Aman_kharzoum_Recommendation_Letter.pdf",
            "id": "filesystem-v2:workflows/AnLvO0GD5dMbPKtg/executions/temp/binary_data/a346a8d0-da81-4bdc-86ec-2eacd5aad520",
            "fileSize": "40.8 kB"
          },
          "file_2": {
            "mimeType": "application/pdf",
            "fileType": "pdf",
            "fileExtension": "pdf",
            "data": "filesystem-v2",
            "fileName": "Aman_Kharzoum_Resume.pdf",
            "id": "filesystem-v2:workflows/AnLvO0GD5dMbPKtg/executions/temp/binary_data/fe23a81c-d4dd-401d-92a4-625c34474bbb",
            "fileSize": "251 kB"
          },
          "file_3": {
            "mimeType": "application/pdf",
            "fileType": "pdf",
            "fileExtension": "pdf",
            "data": "filesystem-v2",
            "fileName": "Reference Letter - AK.pdf",
            "id": "filesystem-v2:workflows/AnLvO0GD5dMbPKtg/executions/temp/binary_data/adc7f299-0fff-4a7e-9e4b-8fd175530f13",
            "fileSize": "40.8 kB"
          }
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.zentraid.com",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "user-agent": "python-httpx/0.25.2",
            "content-type": "application/json",
            "authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJmMWM1ODU3ZC0yZmRlLTQ0MjktYTVhOS1iOTc0YWNiM2U3YWMiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzU5NjU2NDA4LCJleHAiOjE3NjQ3OTU2MDB9.EBUoDnE5kCQccnavJWk1BsCSydNjmq0XQBf9YKb3EUQ",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "x-forwarded-host": "n8n.zentraid.com, n8n.zentraid.com",
            "x-real-ip": "(null)",
            "x-forwarded-for": "185.177.124.191",
            "x-forwarded-server": "n8n.zentraid.com",
            "content-length": "859",
            "connection": "Keep-Alive"
          },
          "params": {},
          "query": {},
          "body": {
            "sessionId": "session_1762272432194_6so5wqfep",
            "action": "sendMessage",
            "messageType": "text",
            "chatInput": "try to read all the file please Syrian Youth Professional Development.pdf",
            "userName": "Abdulrahman Kharzoum",
            "user_name": "Abdulrahman Kharzoum",
            "userEmail": "abdulrahmankharzoum@gmail.com",
            "user_email": "abdulrahmankharzoum@gmail.com",
            "userId": "uDFXewyZ8iaZNaEqRuthY1PY9kF2",
            "user_id": "uDFXewyZ8iaZNaEqRuthY1PY9kF2",
            "accessToken": "ya29.A0ATi6K2sxF6krEVR-_DFUymr4TjDe8toqBikuJ9CWHQYxAWQbX36vXsvWsGFwCKSKaYHIVWdFwZGtiU--J9PD1bVhPJbAPg38yJIDKty-_zbQXU6CbZhtzOYVnP2jlOoudI1M7BWwrlVNn4TbEaBP0IxM9_lLTaOPU6FVKps4TSepmnEHVuir0hcLDoEwfWdSF7ic3NvC9OV1oAq795FLc6WPgJSICmHl_JxoyB0YuFGgO8n_FsXizDKomT0dBA4FRdQ1SqPtxsmNnzs4KVl6EsISzjqXLgaCgYKAWgSARYSFQHGX2MikGSQC5OA78uIZDpbeg1ZcQ0293",
            "refreshToken": "",
            "aiTimestamp": "2025-11-04T16:20:30.228Z"
          },
          "webhookUrl": "https://n8n.zentraid.com/webhook/Study_Guid",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "extract text from file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Data Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Set Schema",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Schema": {
      "main": [
        [
          {
            "node": "Update Schema for Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get File Contents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Document Rows": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        []
      ]
    },
    "Insert Document Metadata": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Data Rows": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Insert Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Trashed Files via API": {
      "main": [
        [
          {
            "node": "Parse Trashed Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Trashed Files": {
      "main": [
        [
          {
            "node": "Has Files to Delete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Files to Delete?": {
      "main": [
        [
          {
            "node": "Check If Exists in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Exists in DB": {
      "main": [
        [
          {
            "node": "Exists in DB?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists in DB?": {
      "main": [
        [
          {
            "node": "Delete Old Data Rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Get Trashed Files via API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Data Rows1": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows1": {
      "main": [
        [
          {
            "node": "Delete Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "LangChain Code": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        []
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        []
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "set vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        []
      ]
    },
    "list files": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract text from file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "chunk the doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "sending pending status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sending pending status1": {
      "main": [
        []
      ]
    },
    "sending pending status": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sending completed status1": {
      "main": [
        []
      ]
    },
    "sending completed status": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "set vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set vars": {
      "main": [
        [
          {
            "node": "list files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Convert to Clean JSON": {
      "main": [
        []
      ]
    },
    "ai_languageModel": {
      "ai_languageModel": [
        [
          {
            "node": "LangChain Code",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "chunk the doc": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "sending completed status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clean output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Push English Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Push Arabic Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check Langauge": {
      "main": [
        [
          {
            "node": "Convert text to speech1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean output": {
      "main": [
        [
          {
            "node": "Push message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "check Langauge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "audiotext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables Fields": {
      "main": [
        [
          {
            "node": "Set Variables Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audiotext": {
      "main": [
        [
          {
            "node": "Set Variables Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Variables Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables Fields1": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ccb05dfa-43b3-485c-8e28-d850deaff8ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d45da9d98fbd7020dc3e1893ba6f6d0857c888b5cb34ec3bf06290d26111560d"
  },
  "id": "AnLvO0GD5dMbPKtg",
  "tags": []
}